@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

* {
    font-family: 'Oswald', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 25px, 50px, 25px;
    margin: 8px;
}
* {
    background-image: url("images/mainbg.jpg");
    background-attachment: fixed;
}
div {
    background:0%;
}

strong {
    background: 0%;
}
h1 {
    color: white;
    background: 0%;
    text-decoration: underline;
    text-shadow: 2px, 2px, black;
}
h2 {
    color: white;
    background: 0%;
    text-decoration: underline;
}
p {
    color: lightSteelBlue;
    background: 0%;
    box-sizing: border-box;
    border: 3px black;
}
a:link, a:visited {
    color: white;
    text-align: center;
    background-color: #f44336;
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;
}
.container {
    display: flex;
    min-height: 5vh;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
}
.indexHeight1 {
    height: 100vh;
}
.unit1Height {
    height:345vh;
}

.colorTag {
    color:white;
}

.unit2Height {
    height: 260vh;
}
.center {
    text-align: center;
    background: 0%
}
.fontSize {
    font-size: 30px;
}
.fontSize2 {
    font-size: 20px;
}
body
 {
    background-image: url("images/shenronmain.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 25%;
}

